/* eric's css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* 共用區 */
* {
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color-1);
}
section {
    height: 100%;
    width: auto;
    padding-bottom: 200px;
    /*上下垂直置中*/
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /*水平置中*/
    /* align-items: center; */ 
}
:root {
    /*bg color*/
    --bg-color-1: #F6F7F2;

    /*main color*/
    --main: #CDD42A;
    --deep: #111111;
    --light: #FFFFFF;

}


/* header */
.header-photo {
    height: 100%;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.header-logo {
    position: absolute;
    margin-left: 50%;
    transform: translateY(80%); /* 垂直置中 */
}


