<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車尚未加入任何商品</title>

    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="wavebox">
        <div class="wavecontent">
            <div>
                <img src="./img/@1x/wave-notify-v0507.svg" alt="">
                <p>購物車尚未加入任何商品。</p>
                <img src="./img/@1x/wave-notify-v0507.svg" alt="">
            </div>
        </div>
    </div>
</body>

</html>