.nav-item, .nav-item-search {
    padding: 4px;
    cursor: pointer;
}
.nav-item-search{
    display: flex;
    position: relative;
    align-items: center;
}
.form-control {
    height: 25px;
    width: 150px;
    position: absolute;
    right: 50px;
}